<h1>SuperAdmin</h1>
<p>Edit a user...</p>
<%= form_with scope: :user, url: super_admin_user_path(@user), method: :patch do |f| %>
	<%= f.label("first name:") %>
	<%= f.text_field(:f_name) %>

	<%= f.label("last name:") %>
	<%= f.text_field(:l_name) %>

	<%= f.label("description:") %>
	<%= f.text_area(:description) %>

	<%= f.label("email:") %>
	<%= f.text_field(:email) %>

	<%= f.label("password:") %>
	<%= f.password_field(:password) %>

	<%= f.label("is super admin:") %>
	<%= f.select(:is_super_admin, options_for_select(@is_super_admin.each{ |boolean| boolean })) %>

	<%= f.submit("Update") %>
<% end %>
