<h1>SuperAdmin</h1>
<p>Create a new user...</p>

<%= form_with(url: super_admin_users_path, method: 'post') do %>
	<%= label_tag("first name:") %>
	<%= text_field_tag(:f_name, "user#{@random_user}") %>

	<%= label_tag("last name:") %>
	<%= text_field_tag(:l_name, "name_to_define") %>

	<%= label_tag("description:") %>
	<%= text_area_tag(:description, "add_your_description") %>

	<%= label_tag("email:") %>
	<%= text_field_tag(:email, "user#{@random_user}@mail.com") %>

	<%= label_tag("password:") %>
	<%= password_field_tag(:password, "123456") %>


	<%= label_tag("is super admin:") %>
	<%= select_tag(:is_super_admin, options_for_select(@is_super_admin.each{ |boolean| boolean })) %>
	
	<%= submit_tag("Create") %>
<% end %>
