<div class="card no-border">
    <div class="card-body px-0">
        <ul class="list-group">

            <li class="list-group-item bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="heading heading-6 strong-500"><%= params[:controller].humanize %></h5>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-sm list-group-item-light">
                            <div class="row">
                                <div class="col-1">
                                    #
                                </div>
                                <div class="col-1">
                                    Prenom
                                </div>
                                <div class="col-1">
                                    Nom
                                </div>
                                <div class="col-1">
                                    Description
                                </div>
                                <div class="col-1">
                                    Email
                                </div>
                                <div class="col-1">
                                    Est admin ?
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-1">
                                    <span class="c-gray-dark"><%= @user.id %></span>
                                </div>
                                <div class="col-1">
                                    <span class="c-gray-dark"><%= @user.f_name %></span>
                                </div>
                                <div class="col-1">
                                    <span class="c-gray-dark"><%= @user.l_name %></span>
                                </div>
                                <div class="col-1">
                                    <span class="c-gray-dark"><%= @user.description %></span>
                                </div>
                                <div class="col-1">
                                    <span class="c-gray-dark"><%= @user.email %></span>
                                </div>
                                <div class="col-1">
                                    <span class="c-gray-dark"><%= @user.is_super_admin %></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
    <%= link_to "Back", :back %>
</div>