<h2><%= @event.title %></h2>
<p>description: <%= @event.description %></p>
<p>debut: <%= @event.start_date %></p>
<p>nombre de participants: <%= @count %></p>
<p>duree: <%= @event.duration %> minutes</p>
<p>fin: <%= @event.end_date %></p>
<p>prix: <%= @event.price %> euros</p>
<p>où?: <%= @event.location %></p>
<p>cree par: <%= @admin_email %></p>

<% if (current_user != @event.admin) && (current_user != @attendee) %>
	<%= link_to 'rejoindre l\'evenement', new_event_attendance_path(@event.id) %>
<% end %>

<% if current_user == @event.admin %>
	<%= link_to 'mon espace evenement', event_attendances_path(@event.id) %>

	<% if @event.photo.attached? %>
		<p>photo: <%= image_tag @event.photo, alt: 'photo' %></p>
	<% else %>
		<p>=== Il n'y a aucun photo lie pour l'instant ===</p>
	<% end %>

	<%= form_with(url: event_photos_path(@event), multipart: true) do %>
		<%= file_field_tag :photo %>
		<%= submit_tag 'ajouter image' %>
	<% end %>

<% end %>