<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <% unless @event.is_free? %>
      <%= form_tag event_attendances_path, method: :post, class: "form-signin mt-3" do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>Amount: $<%= @amount %></span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="<%= @amount_in_cent %>"
                data-locale="auto"></script>
      <% end %>
    <% else %>
      <p>Cet evenement est gratuit!!! &#129323;</p>
      <%= link_to 'clique ici', event_attendances_path(@event), method: :post, class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
    </div>
  </div>
</div>
<%= link_to "Back", :back %>
