<!DOCTYPE html>
<html>
  <head>
    <title>EventBrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag     href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Events', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Create an event', new_event_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Mon profil', user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'S\'inscrire', new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Se connecter', new_user_session_path, class: "nav-link" %>           
            </li>
          <% end %>

          <% if current_user && current_user.is_super_admin %>
            <li class="nav-item">
              <%= link_to 'Dashboard', super_admin_root_path, class: "nav-link" %>        
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <% flash.each do |type, message| %>
      <div class="btn btn-<%= type %>"><%= message %></div>
    <% end %>

    <%= yield %>

    <script src="https://js.stripe.com/v3/"></script>

    <!-- Icons -->
    <script>
      feather.replace()
    </script>

  </body>
</html>