<!DOCTYPE html>
<html>
  <head>
    <title>EventBrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <%= stylesheet_link_tag href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render "layouts/alert" %>
    
    <div class="body-wrap">
      <div id="st-container" class="st-container">
          <div class="st-pusher">
              <div class="st-content">
                  <div class="st-content-inner">

                    <%= render "layouts/header" %>

                    <%= yield %>
                  
                    <%= render "layouts/footer" %>

                  </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://js.stripe.com/v3/"></script>

    <!-- Icons -->
    <script>
      $('.modal').modal('show');
      feather.replace();
    </script>

  </body>
</html>